body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li{
  list-style-type: none;
}

.logo{
  width: 100px;
  height: 50px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.logoSection{
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputSection{
  display: flex;
  gap: 10px;
}

.icons{
  border: none;
  background: #fff;
  margin: 0 25px;
}

a{
  text-decoration: none;
  color: #030303;
  font-size: 18px;
  line-height: 35px;
  transition: 0.3s ease;
}

a:hover{
  color: skyblue;
  cursor: pointer;
  transform: scale(1.2);
}

.navbar{
  width: max-content;
  padding-right: 20px;
  background-color:rgb(255, 255, 255);
  display: flex;
  border-radius: 0 5px 5px 0;
}
.video{
  width: 100%;
  margin: 0 25px 0 15px;
  padding: 50px 0 0 0;
}

.video-title{
  font-size: 18px;
  color: rgb(3,3,3);
  font-weight: 600;
}

.video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.video-text{
  font-size: 15px;
  color: #606060;
}

.video-buttons{
  background-color: #fff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s ease;
}

.video-buttons:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: space-between;
}

.sidebar{
  display: flex;
  flex-direction: column;
  margin: 20px 35px 10px 0;
  gap: 15px;
}

button{
  transition: 0.3s ease;
  font-size: x-large;
  font-weight: bold;
}

button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.video-artist{
  display: flex;
  align-items: center;
  gap: 8px;
}

.artist{
  padding: 18px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color:#f7f7f7;
  background-color: rgb(205 59 53);
  width: 110px;
  border: none;
  border-radius: 3px;
}

.artist-name{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.subscribers{
  margin: 0;
  font-size: 13px;
  color: #606060;
}
